<div class="container">
<h1>Avoid Scams And Fraud</h1><br>
    <p>While most individuals who use Lockr have successful experiences, from time to time we do receive reports of people attempting to scam or defraud the community. We have found that one of the best ways to stay safe is to ensure that all transactions take place locally and in-person.</p><br>

        <p>Remember that Lockr is a local classifieds web site and not all ads are reviewed before going live to site.</p><br>
        
        <p>Please take the following precautions while using Lockr:</p><br>
         
        <p>When buying or selling, you should meet in-person to thoroughly inspect the product and then exchange funds. Meet in a public place with many people around, such as a coffee shop. 
        As a safe alternative to carrying cash, consider paying for your item with PayPal, a reputable company where you can securely link your bank account, your credit cards or your VISA Debit. It’s a quick and easy way to make a payment. Never mail a cheque or wire money to sellers. Services like Amazon Payments, Google Wallet, Android Pay, Canada Post, Western Union or MoneyGram should be avoided. Typically, scammers will use these services and will even falsify documents from a legitimate company. It’s best to avoid them entirely and keep things local!
        PayPal payments made through the Lockr app may be eligible for PayPal Seller Protection. Lockr and eBay do not offer any sort of protection programs for Lockr items. Any emails or web sites that talk about such systems are scams, even if they may have the Lockr logo. If you receive any emails promoting these services, please forward the message to us. 
        Be wary of emails asking you to confirm your account or a password or email address change that was not requested. These are very often phishing emails by scammers trying to gain access to your account. Any emails we send requiring you to log in will bring you directly to our site. The Lockr sign in page should always show up as being secure in your web browser. Click here to learn more. 
        Be aware of common scams. The following are more in depth articles on tips for avoiding scams while checking out the Tickets, Real Estate, Cars and Vehicles, Jobs, Services, and Pets sections. Also here are common Reply Scams that can come in response to your ad or when you reply to an ad. 
        Do not give out personal or banking information (e.g. social insurance number, bank account number) over the Internet. 
        Inform Lockr of any attempted fraud or suspicious emails, ads, or other activity by community members. In the case of fraud, file a police report and contact us. 
        Use common sense. If something sounds too good to be true- it probably is.</p>
</div>